<div>
  <h1>Listdo de clientes</h1>
  <div>
    <button [routerLink]="['/clientes/crear']"class="btn btn-primary">Crear cliente</button>
  </div>
    <div class="container mt-2 alert alert-info" *ngIf="clientes?.length == 0">
        No hay registros en la base de datos!
    </div>
    <table class="table table-hover" *ngIf="clientes?.length > 0">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Fecha</th>
            <th scope="col">Email</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let cliente of clientes">
            <th scope="row">{{cliente.id_cliente}}</th>
            <td>{{cliente.nombre}}</td>
            <td>{{cliente.apellido}}</td>
            <td>{{cliente.createAt}}</td>
            <td>{{cliente.email}}</td>
            <td> 
              <button type="button" class="btn btn-primary" [routerLink]="['/clientes/crear', cliente.id_cliente]">Editar</button>
            </td>
              &nbsp;
            <td>
              <button type="button" class="btn btn-danger" (click)="deleteCliente(cliente)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>
    