<div>
  <h1>Listdo de clientes</h1>
  <div>
    <button [routerLink]="['/clientes/crear']"class="btn btn-primary">Crear cliente</button>
  </div>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Fecha</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let cliente of clientes">
            <th scope="row">{{cliente.id_cliente}}</th>
            <td>{{cliente.nombre}}</td>
            <td>{{cliente.apellido}}</td>
            <td>{{cliente.createAt}}</td>
            <td>{{cliente.email}}</td>
          </tr>
        </tbody>
      </table>
</div>
    